# Terraform files & folders
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.*

# Other 
**/*_BK
**/.DS_Store
**/Icon*
**/crash.log

# Ignoring
!.gitignore
!.pre-commit-config.yaml
!.github
