**/.DS_Store
**/Icon*
**/.terraform
**/*_BK
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.tfstate.lock
**/crash.log
!.gitignore
!.pre-commit-config.yaml
!.github
